# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# binary data files
*.rda

# RDS binary files
*.rds

# SQLite files
*.sqlite
