# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# binary data files
*.rda

# RDS binary files
*.rds

# SQLite files
*.sqlite

# PDF docs
*.pdf

# CSV, compressed CSV
*.csv
*.csv.bz2
*.csv.zip

# Temporary files after knittr run
*.html
